/* PageTransition.scss */

/* 초기 로드 애니메이션 */
.slide-initial-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
.slide-initial-enter-active {
opacity: 1;
transform: translateX(0);
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* 일반 라우트 전환 애니메이션 */
.slide-enter {
opacity: 0;
transform: translateX(100%);
}

.slide-enter-active {
opacity: 1;
transform: translateX(0);
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slide-exit {
opacity: 1;
transform: translateX(0);
}

.slide-exit-active {
opacity: 0;
transform: translateX(-100%);
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
  